
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Start Header Area -->
    <header class="header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="col-lg-2 col-12 align-self-center">
                    <div class="logo">
                        <a href="index.html">
                            <img class="light-logo" src="~/img/white-logo.png" alt="logo" />
                            <img class="dark-logo" src="~/img/white-logo.png" alt="logo" />
                        </a>
                    </div>
                    <div class="mobile-menu-tg">
                        <div class="mobile-lg-toggle">
                            <div class="toggle-btn-lg">
                                <span></span>
                            </div>
                        </div>
                        <div class="mobile-menu">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>
                </div>
                <!-- Header Right -->
                <div class="col-lg-10 col-12">
                    <!-- Right Button -->
                    <div class="dl-cv">
                        <a class="button-1" >Sign Out</a>
                    </div>
                    <!-- Menu -->
                    <div class="menu">
                        <nav>
                            <ul>
                                <li class="nav-item current">
                                    <a class="nav-link" href="#home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#portfolio">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contact">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->
    <!-- Start Hero Area -->
    <section class="hero-area section-bg" id="home">
        <div class="container">
            <div class="row">
                <!-- Hero Content -->
                <div class="col-lg-6 order-lg-first order-last align-self-center">
                    <div class="hero-caption">
                        <h4 class="left-border-s">Hello</h4>
                        <h2>I'm <span>Eugenia</span> <br> UI & UX Designer</h2>
                        <p>
                            A final year Computer Science student at the Kwame Nkrumah University of Science and
                            Technology, Ghana.
                        </p>
                        <a class="button-1" href="#">Hire Me</a>
                    </div>
                </div>
                <!-- Hero Image -->
                <div class="col-lg-6 align-self-end">
                    <div class="hero-image">
                        <img src="~/img/hero2.png" alt="img">
                        <!-- Image -->
                        <div class="hero-shap-img">
                            <img class="rotateme" src="~/img/ellipse-shape.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
    <!-- Start About Area -->
    <section class="about-area pt-70" id="about">
        <div class="container">
            <div class="row">
                <!-- About Image -->
                <div class="col-lg-5 mb-40">
                    <div class="about-img wow fadeInUp" data-wow-delay="0.3s">
                        <img src="~/img/about.jpeg" alt="img">
                    </div>
                </div>
                <!-- About Content -->
                <div class="col-lg-7 align-self-center mb-40">
                    <div class="about-content wow fadeInUp">
                        <h4 class="left-border-s">About Me</h4>
                        <h2>Hi There! I'm <span>Eugenia</span></h2>
                        <p> Aspiring web developer exploring digital possibilities, creating meaningful online experiences from front-end design to back-end logic. Pursuing BSc in Computer Science at KNUST, I've laid the foundation in web technologies through projects, learning HTML, CSS, and more. Eager to contribute to the ever-evolving tech world by exceeding user expectations and making lives easier through innovative websites and applications. Excited to be part of this transformative journey.</p>
                        <a class="button-1" href="#">Download CV</a>
                        <div class="row">
                            <!-- row -->
                            <div class="col-md-6 col-sm-12">
                                <!-- col-6 -->
                                <div class="about-cn">
                                    <ul>
                                        <li><i class="fas fa-user-tie"></i> Eugenia Efua Essilifua Quartey</li>
                                        <li><i class="fab fa-instagram"></i> @@maame.efua___</li>
                                        <li><i class="far fa-envelope"></i> efuaessilifua1@gmail.com</li>
                                    </ul>
                                </div>
                            </div> <!-- end col-6 -->
                            <div class="col-md-6 col-sm-12">
                                <!-- col-6 -->
                                <div class="about-cn">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i> Kumasi, GH</li>
                                        <li><i class="fas fa-birthday-cake"></i> 01 Feb, 2002</li>
                                        <li><i class="fab fa-whatsapp"></i> +233 206 705 029</li>
                                    </ul>
                                </div>
                            </div> <!-- end col-6 -->
                        </div>
                    </div>
                </div>
                <!-- About Your Skill -->
                <div class="col-lg-12 mb-40">
                    <div class="about-your-skill">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Single -->
                                <div class="progress-bars wow fadeInUp" data-wow-delay=".1s">
                                    <div class="single-progress">
                                        <h3>UI/UX Design</h3>
                                        <div class="progress">
                                            <div class="progress-bar wow" style="width: 70%;">
                                                <span class="percent">70%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Single -->
                                <div class="progress-bars wow fadeInUp" data-wow-delay=".3s">
                                    <div class="single-progress">
                                        <h3>Web Design</h3>
                                        <div class="progress">
                                            <div class="progress-bar wow" style="width: 70%;">
                                                <span class="percent">70%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Single -->
                                <div class="progress-bars wow fadeInUp" data-wow-delay=".3s">
                                    <div class="single-progress">
                                        <h3>Web Development</h3>
                                        <div class="progress">
                                            <div class="progress-bar wow" style="width: 50%;">
                                                <span class="percent">50%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Single -->
                                <div class="progress-bars wow fadeInUp" data-wow-delay=".3s">
                                    <div class="single-progress">
                                        <h3>App Development</h3>
                                        <div class="progress">
                                            <div class="progress-bar wow" style="width: 32%;">
                                                <span class="percent">32%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Single -->
                                <div class="progress-bars wow fadeInUp" data-wow-delay=".3s">
                                    <div class="single-progress">
                                        <h3>Graphic Design</h3>
                                        <div class="progress">
                                            <div class="progress-bar wow" style="width: 30%;">
                                                <span class="percent">30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Single -->
                                <div class="progress-bars wow fadeInUp" data-wow-delay=".3s">
                                    <div class="single-progress">
                                        <h3>Social Media Marketing</h3>
                                        <div class="progress">
                                            <div class="progress-bar wow" style="width: 50%;">
                                                <span class="percent">50%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Counter Area -->
                <div class="row">
                    <!-- Counter ITEM -->
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="counter-item">
                            <div class="icon">
                                <i class="fas fa-tasks"></i>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h2 class="counter">---</h2>
                                    <h3></h3>
                                </div>
                                <p>Projects Completed</p>
                            </div>
                        </div>
                    </div>
                    <!-- Counter ITEM -->
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="counter-item">
                            <div class="icon">
                                <i class="fas fa-dna"></i>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h2 class="counter">4</h2>
                                    <h3></h3>
                                </div>
                                <p>Remaining Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- Counter ITEM -->
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="counter-item">
                            <div class="icon">
                                <i class="far fa-gem"></i>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h2 class="counter">2</h2>
                                    <h3></h3>
                                </div>
                                <p>Business Start-up</p>
                            </div>
                        </div>
                    </div>
                    <!-- Counter ITEM -->
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="counter-item">
                            <div class="icon">
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h2 class="counter">10</h2>
                                    <h3>+</h3>
                                </div>
                                <p> Support Team</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Counter Area -->
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- Start Services Area -->
    <section class="services-area pt-40 pb-20" id="services">
        <div class="container">
            <!-- Section Headding -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-headding mb-40 text-center">
                        <h2>My Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Services Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="services-box">
                        <div class="icon">
                            <i class="fas fa-laptop-code"></i>
                        </div>
                        <h2>Web Design</h2>
                        <p>A full package of everything concerned with web.</p>
                    </div>
                </div>
                <!-- Services Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="services-box">
                        <div class="icon">
                            <i class="fas fa-layer-group"></i>
                        </div>
                        <h2>Web Development</h2>
                        <p>Get a fully functioning website for yourself, business or company. </p>
                    </div>
                </div>
                <!-- Services Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="services-box">
                        <div class="icon">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                        <h2>UI/UX Design</h2>
                        <p>Get amazing designs to enhance your websites and applications.</p>
                    </div>
                </div>
                <!-- Services Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="services-box">
                        <div class="icon">
                            <i class="fab fa-sketch"></i>
                        </div>
                        <h2>App Design &amp; Develop</h2>
                        <p>Upgrade your business with an amazing application, web or mobile.</p>
                    </div>
                </div>
                <!-- Services Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="services-box">
                        <div class="icon">
                            <i class="fas fa-palette"></i>
                        </div>
                        <h2>Graphic Design</h2>
                        <p>Creating visual concept to help communicate information.</p>
                    </div>
                </div>
                <!-- Services Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="services-box">
                        <div class="icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <h2>Social Media Marketing</h2>
                        <p>Advertisement and promotion of businesses on social media platforms.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Area -->
    <!-- Start Resume Area -->
    <section class="resume-area pt-20 pb-20">
        <div class="container">
            <!-- Section Headding -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-headding mb-40 text-center">
                        <h2>My Resume</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-30">
                    <div class="resume-box">
                        <h3>Education </h3>
                        <div class="resume__list">
                            <!-- Single -->
                            <div class="single-resume__list  wow fadeInUp mb-30">
                                <div class="year">
                                    <span>2020-present</span>
                                </div>
                                <h4 class="university-name">Kwame Nkrumah University of Science and Technology</h4>
                                <p class="degree">BSC in Computer Science </p>
                            </div>
                            <!--  Single
                              <div class="single-resume__list  wow fadeInUp mb-30">
                                  <div class="year">
                                      <span>2004-2006</span>
                                  </div>
                                  <h4 class="university-name">Oxford University</h4>
                                  <p class="degree">MSC in Computer Engineer </p>
                              </div>
                                 Single
                              <div class="single-resume__list  wow fadeInUp">
                                  <div class="year">
                                      <span>2002-2004</span>
                                  </div>
                                  <h4 class="university-name">Oxford University</h4>
                                  <p class="degree">MSC in Computer Engineer </p>
                              </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-30">
                    <div class="resume-box">
                        <h3> Experience </h3>
                        <div class="resume__list">
                            <!-- Single -->
                            <div class="single-resume__list  wow fadeInUp mb-30">
                                <div class="year">
                                    <span>2023</span>
                                </div>
                                <h4 class="university-name"> Kwame Nkrumah University of Science and Technology-UITS </h4>
                                <p class="degree">Intern</p>
                            </div>
                            <!--Single
                            <div class="single-resume__list  wow fadeInUp mb-30">
                                <div class="year">
                                    <span>2012-2014</span>
                                </div>
                                <h4 class="university-name"> Envato Company </h4>
                                <p class="degree">Full Stack Web Developer</p>
                            </div>
                            Single
                            <div class="single-resume__list  wow fadeInUp">
                                <div class="year">
                                    <span>2014-2021</span>
                                </div>
                                <h4 class="university-name"> Envato Company </h4>
                                <p class="degree">Full Stack Web Developer</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Resume Area -->
    <!-- Start Portfolio Area -->
    <section class="portfolio-area pt-20 pb-20" id="portfolio">
        <div class="container">
            <!-- Section Headding -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-headding mb-40 text-center">
                        <h2>My Portfolio</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-category mb-40 text-center">
                    <ul>
                        <li data-filter="all">All</li>
                        <li data-filter=".design">Design</li>
                        <li data-filter=".development">Development</li>
                        <li data-filter=".app">App</li>
                    </ul>
                </div>
                <div class="row portfolio-full portF">
                    <!-- Single -->
                    <div class="col-lg-4 col-md-6 mb-30 mix design app">
                        <div class="portfolio-item">
                            <img src="~/img/portfolio/port1.jpeg" alt="portfolio">
                            <div class="portfolio-item-overly">
                                <div class="portfolio-item-overly-full">
                                    <a data-rel="lightcase:myCollection:portfolio" href="~/img/portfolio/port1.jpg"><i class="fas fa-search-plus"></i></a>
                                    <a href="#">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="col-lg-4 col-md-6 mb-30 mix development">
                        <div class="portfolio-item">
                            <img src="~/img/portfolio/port2.jpeg" alt="portfolio">
                            <div class="portfolio-item-overly">
                                <div class="portfolio-item-overly-full">
                                    <a data-rel="lightcase:myCollection:portfolio" href="~/img/portfolio/port2.jpg"><i class="fas fa-search-plus"></i></a>
                                    <a href="#">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="col-lg-4 col-md-6 mb-30 mix design development">
                        <div class="portfolio-item">
                            <img src="~/img/portfolio/port3.jpeg" alt="portfolio">
                            <div class="portfolio-item-overly">
                                <div class="portfolio-item-overly-full">
                                    <a data-rel="lightcase:myCollection:portfolio" href="~/img/portfolio/port3.jpg"><i class="fas fa-search-plus"></i></a>
                                    <a href="#">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="col-lg-4 col-md-6 mb-30 mix app">
                        <div class="portfolio-item">
                            <img src="~/img/portfolio/port4.jpeg" alt="portfolio">
                            <div class="portfolio-item-overly">
                                <div class="portfolio-item-overly-full">
                                    <a data-rel="lightcase:myCollection:portfolio" href="~/img/portfolio/port4.jpg"><i class="fas fa-search-plus"></i></a>
                                    <a href="#">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="col-lg-4 col-md-6 mb-30 mix design">
                        <div class="portfolio-item">
                            <img src="~/img/portfolio/port1.jpeg" alt="portfolio">
                            <div class="portfolio-item-overly">
                                <div class="portfolio-item-overly-full">
                                    <a data-rel="lightcase:myCollection:portfolio" href="~/img/portfolio/port1.jpg"><i class="fas fa-search-plus"></i></a>
                                    <a href="#">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="col-lg-4 col-md-6 mb-30 mix design app">
                        <div class="portfolio-item">
                            <img src="~/img/portfolio/port2.jpeg" alt="portfolio">
                            <div class="portfolio-item-overly">
                                <div class="portfolio-item-overly-full">
                                    <a data-rel="lightcase:myCollection:portfolio" href="~/img/portfolio/port2.jpg"><i class="fas fa-search-plus"></i></a>
                                    <a href="#">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Area -->
    <!-- Start Testimonial Area -->
    <section class="testimonial-area pt-20 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-headding mb-40 text-center">
                        <h2>Reviews</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial-full owl-carousel">
                    <!-- Single -->
                    <div class="testimonial-item">
                        <div class="thumbnail">
                            <!-- <img src="~/img/Antoinette.jpeg" alt=""> -->
                        </div>
                        <div class="content">
                            <p>Incredible attention to detail and creativity! Your work always leaves me inspired and amazed.</p>
                            <h2>Antoinette N. Mensah</h2>
                            <h4>Student</h4>
                        </div>
                        <div class="btm-big-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="testimonial-item">
                        <div class="thumbnail">
                            <!-- <img src="~/img/" alt=""> -->
                        </div>
                        <div class="content">
                            <p>A reliable professional who delivers exceptional results every time. It's a pleasure collaborating with you.</p>
                            <h2>Ama Serwaa Kesse-Anim</h2>
                            <h4>Student</h4>
                        </div>
                        <div class="btm-big-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="testimonial-item">
                        <div class="thumbnail">
                            <!-- <img src="~/img/tes1.jpg" alt=""> -->
                        </div>
                        <div class="content">
                            <p>Your work stands out for its originality and sheer brilliance. Keep shining!</p>
                            <h2>Ohemaa A. S. Nyarko</h2>
                            <h4>Student</h4>
                        </div>
                        <div class="btm-big-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="testimonial-item">
                        <div class="thumbnail">
                            <!-- <img src="~/img/tes2.jpg" alt=""> -->
                        </div>
                        <div class="content">
                            <p>An exceptional talent with an eye for perfection. Your work speaks volumes!</p>
                            <h2>Bernard Owusu</h2>
                            <h4>Student</h4>
                        </div>
                        <div class="btm-big-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="testimonial-item">
                        <div class="thumbnail">
                            <!-- <img src="~/img/tes1.jpg" alt=""> -->
                        </div>
                        <div class="content">
                            <p>Innovative, versatile, and consistently delivering excellence. A top-notch creator!</p>
                            <h2>Amanda K. Gyamfi</h2>
                            <h4>Student</h4>
                        </div>
                        <div class="btm-big-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Area -->
    <!-- Start Latest Blog Area -->
    <section class="pt-20 pb-20 blog-area" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-headding mb-40 text-center">
                        <h2>Latest blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="blog-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/img/blog/blog1.jpeg" alt="blog">
                            </a>
                        </div>
                        <div class="content">
                            <div class="meta">
                                <span><a href="#"><i class="fas fa-user"></i> by: Admin</a></span>
                                <span><a href="#"><i class="fas fa-tags"></i> Education</a></span>
                            </div>
                            <h2 class="title"><a href="#">Code Her Future Now</a></h2>
                            <p>Exploring how female empowerment in computer science shapes a brighter, more inclusive tech landscape. </p>
                            <div class="btm-meta">
                                <div class="date">
                                    <span><i class="far fa-calendar-alt"></i> 14 November 2023</span>
                                </div>
                                <div class="read-more">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="blog-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/img/blog/blog2.jpeg" alt="blog">
                            </a>
                        </div>
                        <div class="content">
                            <div class="meta">
                                <span><a href="#"><i class="fas fa-user"></i> by: Admin</a></span>
                                <span><a href="#"><i class="fas fa-tags"></i> Education</a></span>
                            </div>
                            <h2 class="title"><a href="#">Breaking Binary Barriers Together</a></h2>
                            <p>Dismantling stereotypes and fostering diversity to empower women in tech.</p>
                            <div class="btm-meta">
                                <div class="date">
                                    <span><i class="far fa-calendar-alt"></i> 15 November 2023</span>
                                </div>
                                <div class="read-more">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="blog-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/img/blog/blog3.jpeg" alt="blog">
                            </a>
                        </div>
                        <div class="content">
                            <div class="meta">
                                <span><a href="#"><i class="fas fa-user"></i> by: Admin</a></span>
                                <span><a href="#"><i class="fas fa-tags"></i> Education</a></span>
                            </div>
                            <h2 class="title"><a href="#">Innovation: Her Name Speaks</a></h2>
                            <p> Celebrating the contributions and resilience of females driving innovation in the tech sphere. </p>
                            <div class="btm-meta">
                                <div class="date">
                                    <span><i class="far fa-calendar-alt"></i> 15 November 2023</span>
                                </div>
                                <div class="read-more">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Latest Blog Area -->
    <!-- Start Contact Area -->
    <section class="contact-area pt-20 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-headding mb-40 text-center">
                        <h2>Contact Now</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 align-self-center mb-30">
                    <div class="contact-form">
                        <form action="#" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="text" name="name" placeholder="Your Name">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="email" name="email" placeholder="Your Email">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="text" name="phone" placeholder="Your Phone">
                                        <i class="fas fa-mobile-alt"></i>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="text" name="subject" placeholder="Your Subjects">
                                        <i class="fas fa-file-alt"></i>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-input">
                                        <textarea name="message" placeholder="Write Message" spellcheck="false"></textarea>
                                        <i class="fas fa-pen"></i>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="button-1">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 mb-30">
                    <div class="contact-form-info" style="background-image:url('~/img/about.jpeg');">
                        <h2>Don't hesitate to contact me</h2>
                        <div class="contact-info-list">
                            <div class="item mb-20">
                                <div class="icon">
                                    <i class="fas fa-home"></i>
                                </div>
                                <div class="content">
                                    <h4>Location</h4>
                                    <p>Kumasi,</p>
                                    <p>Ghana</p>
                                </div>
                            </div>
                            <div class="item mb-20">
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <h4>Drop A Mail</h4>
                                    <p>efuaessilifua1@gmail.com</p>
                                    <p>efuaessilifua010@outlook.com </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="content">
                                    <h4>Call Us</h4>
                                    <p>+233 559 980 891</p>
                                    <p>+233 206 392 257</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>